body {
  font-family: Barlow;
}
header {
  text-align: center;
}

.row {
  display: flex;
  justify-content: space-evenly;
}

.caption {
  text-align: center;
}

.phone {
  margin: 0 auto;
  margin-top: 20px;
  width: 415px;
  height: 673px;
}

.icon {
  width: 90px;
  height: 90px;
}

.description {
  margin-top: 20px;
}
