body {
  font-family: Barlow;
}
header {
  text-align: center;
}

.row {
  display: flex;
  justify-content: space-around;
  margin: 0 60px;
}

.phone {
  margin: 0 5px;
  margin-top: 20px;
  width: 430px;
  height: 673px;
}

.icon {
  width: 90px;
  height: 90px;
}

.feature {
  text-align: center;
}

.description {
  margin-top: 20px;
}
