.container {
  max-width: 800px;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}

.row {
  display: flex;
}

.column-one-third {
  width: 33%;
}

.column-two-third {
  width: 33%;
}

.column-three-third {
  width: 33%;
}

.column-one-fourth {
  width: 25%;
}

.column-two-fourth {
  width: 25%;
}

.column-three-fourth {
  width: 25%;
}

.column-four-fourth {
  width: 25%;
}

.column-one-halfA {
  width: 70%;
}

.column-two-halfA {
  width: 30%;
}

.column-one-halfB {
  width: 30%;
}

.column-two-halfB {
  width: 70%;
}

img {
  width: 100%;
}
