.container {
  font-family: Karla;
  margin-top: 20px;
}

.row {
  display: flex;
}

.col-full {
  margin: auto;
}

.header {
  text-align: center;
  margin: 0 auto;
}

.title {
  text-transform: uppercase;
  font-size: 25px;
  letter-spacing: 5px;
}

.missionStatement {
  margin: 0 auto;
  width: 70%;
  line-height: 30px;
}

.img-and-text {
  display: flex;
  margin: auto;
  width: 50%;
}

.col-fourths {
  display: flex;
  margin: 0 auto;
}

.text-content {
  margin-top: 40px;
}

.subTitle {
  width: 30%;
  text-transform: uppercase;
  font-size: 14px;
}

.description {
  width: 80%;
}
