.container {

}

.navBar {
  display: flex;
  border-bottom: 1px solid #c7c6c3;
  margin-top: 40px;
}

.logoContainer {
  margin-left: 80px;
}

#blueLogo {
  width: 50%;
  margin-bottom: 20px;
}

.navBarItems {
  margin: auto;
  display: flex;
  margin-right: 80px;
  font-family: 'Avenir';
  font-size: 12px;
}

.navBarlink {
  margin: auto 20px;
}

a {
  text-decoration: none;
  color: #999896;
}

#contactButton {
  font-family: 'Avenir';
  font-size: 12px;
  padding: 10px;
  text-align: center;
  background-color: #036;
  color: white;
  border: none;
  border-radius: 3px;
  width: 90px;
}

.mainPic {
  margin: 40px;
  position: relative;
}

.imgContainer {
  text-align: center;
}

#EMR {
  width: 83%;
  position: relative;
}

.textContent {
  position: absolute;
  top: 30px;
  margin-left: 150px;
  line-height: 30px;
  bottom: 100px;
}

#title {

}

#paragraph {

}

.startButton {
  font-family: 'Avenir';
  font-size: 12px;
  padding: 10px;
  text-align: center;
  background-color: #036;
  color: white;
  border: none;
  border-radius: 3px;
  width: 130px;
}
